extends layout

block content
    h1 About us

    p Loc8r is a web application built using the MEAN stack which functions simmilarly to Foursquare but it is specifically for coffee shops and libraries, where you can sit down and work on your coding project.