extends layout

block content

  div.container-fluid
    div.row
      div.col-sm-4
        div.card
          div.card-body
            div.card-title Parkside Café
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-regular.fa-star
            i.fa-regular.fa-star
            i.fa-regular.fa-star
            p.card-text Have a cup of coffee here
            a.btn.btn-primary(href="#") Checkout
      div.col-sm-8
        //h1 Free space worth 4 grids

    div.row
      div.col-sm-4
        div.card
          div.card-body
            div.card-title Bean & Code Café
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-regular.fa-star
            p.card-text.para-card-text Have a cup of coffee here
            a.btn.btn-primary(href="#") Checkout
      div.col-sm-8
        //h1 Free space worth 4 grids

    div.row
      div.col-sm-4
        div.card
          div.card-body
            div.card-title Quiet Corner Library
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-regular.fa-star
            i.fa-regular.fa-star
            p.card-text.para-card-text Get learnt.
            a.btn.btn-primary(href="#") Checkout
      div.col-sm-8
        //h1 Free space worth 4 grids

    div.row
      div.col-sm-4
        div.card
          div.card-body
            div.card-title The Oakwood Archives
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-regular.fa-star
            i.fa-regular.fa-star
            p.card-text.para-card-text A quiet, wood-paneled library filled with rare manuscripts, cozy reading nooks, and an aroma of aged books.
            a.btn.btn-primary(href="#") Checkout
      div.col-sm-8
        //h1 Free space worth 4 grids

    div.row
      div.col-sm-4
        div.card
          div.card-body
            div.card-title Lumen Library
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-regular.fa-star
            i.fa-regular.fa-star
            p.card-text.para-card-text A modern library with vast digital and physical collections, sleek architecture, and reading pods with ambient lighting.
            a.btn.btn-primary(href="#") Checkout
      div.col-sm-8
        //h1 Free space worth 4 grids

    div.row
      div.col-sm-4
        div.card
          div.card-body
            div.card-title Aurora Athenaeum
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-regular.fa-star
            i.fa-regular.fa-star
            p.card-text.para-card-text A historic library known for its grand stained-glass windows, marble columns, and an extensive philosophy and science collection.
            a.btn.btn-primary(href="#") Checkout
      div.col-sm-8
        //h1 Free space worth 4 grids

    div.row
      div.col-sm-4
        div.card
          div.card-body
            div.card-title Hearth & Quill Library
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-regular.fa-star
            i.fa-regular.fa-star
            p.card-text.para-card-text A community-driven space where readers can borrow books, write their own, and participate in literary discussions.
            a.btn.btn-primary(href="#") Checkout
      div.col-sm-8
        //h1 Free space worth 4 grids
