extends layout

block content

  div.container-fluid
    div.row
      div.col-sm-4
        div.card
          div.card-body
            div.card-title Parkside Café
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-regular.fa-star
            i.fa-regular.fa-star
            i.fa-regular.fa-star
            p.card-text Have a cup of coffee here
            a.btn.btn-primary(href="#") Checkout
      div.col-sm-8
        h1 Free space worth 4 grids

    div.row
      div.col-sm-4
        div.card
          div.card-body
            div.card-title Bean & Code Café
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-regular.fa-star
            p.card-text.para-card-text Have a cup of coffee here
            a.btn.btn-primary(href="#") Checkout
      div.col-sm-8
        h1 Free space worth 4 grids

    div.row
      div.col-sm-4
        div.card
          div.card-body
            div.card-title Quiet Corner Library
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-regular.fa-star
            i.fa-regular.fa-star
            p.card-text.para-card-text Get learnt.
            a.btn.btn-primary(href="#") Checkout
      div.col-sm-8
        h1 Free space worth 4 grids

